*{
			margin: 0;
			padding: 0;
		}
		body {
			font-size: 12px;
			background:url('../images/85987b.png') no-repeat center;
			color:#999;
			background-size:cover;
			overflow-x: hidden;
		}
		
		.C_container {
			width: 600px;
			padding-top:100px;
			float:left;
			margin-left: 100px;
		}
		.C_container h1{
			font-size: 30px;
			text-align:center;
			color:#CF702D;
			text-shadow:2px 5px 5px #000;
		}
		.C_container p{
			float:left;
			line-height:38px;
			margin-top:15px;
			margin-right:5px;
			height: 40px;
			background:#ccc;
			border:1px solid #ccc;
			border-radius:6px;
		}
		.C_container p span{
			width:60px;
			height: 40px;
			float:left;
			padding-right:5px;
			background:#373733;
			border-right:1px solid #222220;
			text-align:right;
			border-radius: 6px;
		}
		.C_container p input{
			width:200px;
			float:left;
			height: 38px;
			border:0;
			color:#fff;
			padding-left:10px;
			background:#2c2c29;
			border-radius: 6px;
		}
		.C_container .common-btn{
			width:400px;
			height:40px;
			line-height:40px;
			background:#FFC125;
			border-right:1px solid #FFC125;
			font-size: 18px;
			color:#fff;
			border-radius:6px;
			cursor: pointer;
		}
		.C_container .common-btn:hover{
			background:#FFBC14;
		}
		.C_container select {
			width: 60px;
			height: 40px;
			line-height:40px;
			border-radius:6px;
		}

		#content{
			float:left;
			width: 257px;
			height: 257px;
			margin-top:200px;
			box-shadow:0 0 2em #a4be27;
			border:1px solid red;
			background:#fff;	
			border-radius:8px;	
		}
		.img_item{
			text-align: center;								
		}